<a href="https://colab.research.google.com/github/mady-prog/mady/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
d=pd.read_csv("/content/Mathosh 230901061 - Sheet1.csv")
print(d)

    S.No    Employ name Gender  Age                     occupation
0      1        Mathosh      M   20                       business
1      2  Harshavardhan      M   20             Accounting/Finance
2      3        Jithesh      M   20   Advertising/Public Relations
3      4          Krish      M   20             Aerospace/Aviation
4      5        Kailash      M   20  Arts/Entertainment/Publishing
..   ...            ...    ...  ...                            ...
94    95      Maithreye      F   20               Banking/Mortgage
95    96          Tiger      M   20           Business Development
96    97          Pandi      M   20           Business Opportunity
97    98       Saravana      M   20        Clerical/Administrative
98    99      Anudharan      M   20        Construction/Facilities

[99 rows x 5 columns]

In [11]:
df=pd.DataFrame(d)
print("column",df.columns)
print(df.shape)

column Index(['S.No', 'Employ name', 'Gender', 'Age', 'occupation'], dtype='object')
(99, 5)

In [14]:
print("Employ name",df['Employ name'])

Employ name 0           Mathosh
1     Harshavardhan
2           Jithesh
3             Krish
4           Kailash
          ...
94        Maithreye
95            Tiger
96            Pandi
97         Saravana
98        Anudharan
Name: Employ name, Length: 99, dtype: object

In [15]:
print(df[5:10])

   S.No Employ name Gender  Age               occupation
5     6    Sandanam      M   20               Automotive
6     7      DInesh      M   20         Banking/Mortgage
7     8     Kishore      M   20     Business Development
8     9      Kaviya      F   20     Business Opportunity
9    10      Joshua      M   20  Clerical/Administrative

In [16]:
print(d.loc[d['Age']==20])

    S.No    Employ name Gender  Age                     occupation
0      1        Mathosh      M   20                       business
1      2  Harshavardhan      M   20             Accounting/Finance
2      3        Jithesh      M   20   Advertising/Public Relations
3      4          Krish      M   20             Aerospace/Aviation
4      5        Kailash      M   20  Arts/Entertainment/Publishing
..   ...            ...    ...  ...                            ...
94    95      Maithreye      F   20               Banking/Mortgage
95    96          Tiger      M   20           Business Development
96    97          Pandi      M   20           Business Opportunity
97    98       Saravana      M   20        Clerical/Administrative
98    99      Anudharan      M   20        Construction/Facilities

[99 rows x 5 columns]